Repository ghote-app/ghote, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, bug, docs, ci

.github/labeler.yml:

enhancement:
  - 'lib/**'
  - 'assets/**'

bug:
  - 'lib/**'
  - 'android/**'
  - 'ios/**'

docs:
  - 'README.md'
  - 'CONTRIBUTING.md'
  - '.github/**'

ci:
  - '.github/workflows/**'

chore: expand CODEOWNERS and add tag-based release workflow (APK)
  .github/CODEOWNERS
  .github/workflows/release.yml
Labels: docs, ci

chore: expand CODEOWNERS and add tag-based release workflow (APK)
  .github/CODEOWNERS
  .github/workflows/release.yml
Labels: docs, ci

build(ci): bump Flutter via FVM to 3.35.6 to satisfy Dart SDK ^3.9.2
  .fvm/fvm_config.json
Labels: none

build(ci): bump Flutter via FVM to 3.35.6 to satisfy Dart SDK ^3.9.2
  .fvm/fvm_config.json
Labels: none

ci(analyze): do not fail build on warnings/information (Flutter 3.35)
  .github/workflows/ci.yml
Labels: docs, ci

ci(analyze): do not fail build on warnings/information (Flutter 3.35)
  .github/workflows/ci.yml
Labels: docs, ci

ci: set flutter-action architecture to x64 on macOS runners
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: docs, ci

ci: set flutter-action architecture to x64 on macOS runners
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: docs, ci

ci: hardcode Flutter 3.35.6 to avoid FVM parsing issues on macOS
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: docs, ci

ci: hardcode Flutter 3.35.6 to avoid FVM parsing issues on macOS
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: docs, ci

refactor: remove unused dependencies and FVM
  .fvm/fvm_config.json
  CONTRIBUTING.md
  README.md
  lib/screens/dashboard_screen.dart
  lib/screens/login_screen.dart
  lib/screens/splash_screen.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: enhancement, bug, docs

refactor: remove unused dependencies and FVM
  .fvm/fvm_config.json
  CONTRIBUTING.md
  README.md
  lib/screens/dashboard_screen.dart
  lib/screens/login_screen.dart
  lib/screens/splash_screen.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: enhancement, bug, docs

docs: remove changelog section from README
  README.md
Labels: docs

docs: remove changelog section from README
  README.md
Labels: docs

chore: add reviewers @tina6662 @matthew930823 @wonogfsocry to CODEOWNERS
  .github/CODEOWNERS
Labels: docs

chore: add reviewers @tina6662 @matthew930823 @wonogfsocry to CODEOWNERS
  .github/CODEOWNERS
Labels: docs

改readme
  README.md
Labels: docs

改readme
  README.md
Labels: docs

ci: optimize workflow with parallel jobs and add merge guide to PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
Labels: docs, ci

ci: optimize workflow with parallel jobs and add merge guide to PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
Labels: docs, ci

docs: add recent updates section documenting team collaboration setup and code refactoring
  README.md
Labels: docs

docs: add recent updates section documenting team collaboration setup and code refactoring
  README.md
Labels: docs
